@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* Material Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
	/* font-awsome v6.2.0 */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px solid #FFFFFF; */
}
:root{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
ul,li{ list-style: none; }
body{ min-width: 1200px; 
    background: #202020;}
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        z-index: 200;
        position: fixed;
        background: #111111;
        border-bottom: 1px solid #03FC5D;
    }
    .gnb{
        width: 1200px;
        height: 100px;
        background: #111111;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #03FC5D;
    }
    .gnb > ul{
        width: 1200px;
        height: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        border-top: 1px solid #03FC5D;
    }
    .gnb >  ul > li{
        width: 160px;
    }
    .gnb >  ul > li > .gnba{
        width: 160px;
        height: 100px;
        line-height: 95px;
        display: block;
        text-align: center;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
    }
    .gnb > ul > li > a:hover{
        color: #03FC5D;
        transition: 0.3s;
    }
    .Logo{
        width: 250px;
    }
    .snb{
        width: 100%;
        height: auto;
        background: rgba(0,0,0,0.85);
        display: none;
    }
    .snb li{
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: #fff;
        border-bottom: 1px solid #555;
        padding: 0 20px;
        cursor: pointer;
        text-align: center;
    }
    .snb li:hover{
        color: #03FC5D;
    }
    .material-icons{ display: none; }
main{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0 0 0;
}
h2{
    color: white;
    font-size: 30px;
    padding: 0 0 10px 0;
}
.sec4{
  margin: 0 auto;
  width: 100%;
  height: 425px;
}
.sec4 h2{
    padding: 30px 0 15px 0;
}
main .sec1 .ranking{
    display: flex;
    gap: 30px;
    padding: 0 0 30px 0;
}
.mainposter{
  width: 600px;
  height: 750px;
  display: flex;
}
.poster{
  width: 600px;
  height: 750px;
  background-image: url(./영화슬라이드/올빼미.jfif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 600px 750px;
}

.info2, .info3, .info4, .info5, .info6, .info7, .info8, .info9, .info10{
  position: absolute;
  color: #fff;
  margin: 20px 0 0 30px;
  width: 0;
  height: 0;
  overflow: hidden;
  display: none;
}
.info1{
  position: absolute;
  color: #fff;
  margin: 20px 0 0 30px;
  width: 0;
  height: 0;
  overflow: hidden;
} 
.title{
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}
.maindday{
  margin: 0 0 0 10px;
  display: flex;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #00cc4b;
  padding: 0 10px;
}
.today{
  margin: 0 0 0 10px;
  display: flex;
  box-sizing: border-box;
  color: #00d34d;
  font-size: 12px;
  padding: 0 10px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
}
.subtitle{
  font-size: 12px;
}
.sub{
  display: flex;
  width: 500px;
  /* align-items: center; */
  padding: 15px 0 0 0;
  /* justify-content: flex-start; */
}
.sub b{
  display: flex;
  font-weight: 500;
  font-size: 20px;
  padding: 0 10px 0 0;
}
.subcontent{
  font-size: 17px;
  width: 370px;
  padding: 2px 0;
  font-weight: 400;
  word-break: keep-all;
}
.sublast{
  padding: 40px 0 0 0;
  font-size: 18px;
  width: 500px;
  font-weight: 500;
}
.button{
  display: flex;
  gap: 20px;
  position: absolute;
  left: 350px;
  top: 670px;
}
.button1{
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
  background: #DA291C;
  padding: 7px 17px;
  border-radius: 10px;
}
.button2{
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
  color: #DA291C;
  background: #fff;
  padding: 7px 17px;
  border-radius: 10px;
}
.mainposter:hover div[class*=info]{
  width: 570px;
  height: 730px;
}
.mainposter:hover .poster{
  filter: brightness(50%);
  transition: 0.3s;
}
main .sec1 ul li{
    position: relative;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #03FC5D;
    width: 570px;
    height: 75px;
    color: white;
    font-size: 25px;
    justify-content:flex-start;
    align-items: center;
    z-index: 0;
}
main .sec1 ul li p:hover{
    cursor: pointer;
    color: #03FC5D;
    transition: 0.3s;
}
main .sec1 ul li p{
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.grade{
    width: 30px;
    height: 30px;
    margin: 0 20px 0 20px;
}
main .sec1 ul li b{
    padding: 0 25px 0 25px;
    font-size: 35px;
}
main .sec1 ul li:nth-child(10) b{
    padding: 0 15px 0 15px;
}
.sec1 ul li .fa-solid{
    color: red;
    float:right;
}
.sec1 ul li .up{
    position:absolute;
    right: 70px;
    font-size: 23px;
    box-sizing: border-box;
    width: 40px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec1 .fa-solid{
    font-size: 23px;
    padding: 0 0 0 5px;
}
.post .button{
  position: relative;
  left: 0px;
  top: 0px;
  margin: 5px 0 0 0;
  justify-content: center;
}
.post .button1{
  padding: 4px 17px;
}
.post .button2{
  padding: 4px 17px;
}
.mainmovielist{
  display: none;
}
.th{
  position: absolute;
  top: 215px;
  font-size: 60px;
  left: 10px;
  color: rgba(255,255,255,0.9);
}
.toslider{
    width:100%;
    margin:0px auto;
    position:relative;
  }
  .toslider .silder-title{
    text-align:center;
    margin:0 auto;
    font-size: 30px;
  }
  .toslider .next{
    position:absolute;
    top:50%;
    right:30px;
    font-size:2em;
    color:gray;
    cursor: pointer;
  }
  .toslider .prev{
    position:absolute;
    top:50%;
    left:30px;
    font-size:2em;
    color:gray;
    cursor: pointer;
  }
  .toslider .towrapper{
    width:1000px;
    height:450px;
    margin:0px auto;
    padding:10px 0px 10px 0px;
    overflow: hidden;
  }
  .toslider .towrapper .post{
    position: relative;
    width:300px;
    margin:0px 10px;
    display:inline-block;
    color: white;
  }
  .toslider .towrapper .post .post-info{
    font-size:15px;
    height:30%;
    padding-left:10px;
  }
  .toslider .towrapper .post .slider-image{
    width:100%;
    height:300px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
  }
  .toslider .towrapper .post .post-infoall::after{
    content:"";
    background-image: url("./관람가등급/Untitled-1.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 190px;
  }
  .toslider .towrapper .post .post-info12::after{
    content:"";
    background-image: url("./관람가등급/Untitled-2.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 190px;
  }
  .toslider .towrapper .post .post-info15::after{
    content:"";
    background-image: url("./관람가등급/Untitled-3.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 190px;
  }
  .toslider .towrapper .post .post-info18::after{
    content:"";
    background-image: url("./관람가등급/Untitled-4.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 190px;
  }
  .mainslider{
    width:100%;
    margin:0px auto;
    position:relative;
  }
  .mainslider .silder-title{
    text-align:center;
    margin:0 auto;
    font-size: 30px;
  }
  .mainslider .next{
    position:absolute;
    top:50%;
    right:30px;
    font-size:2em;
    color:gray;
    cursor: pointer;
  }
  .mainslider .prev{
    position:absolute;
    top:50%;
    left:30px;
    font-size:2em;
    color:gray;
    cursor: pointer;
  }
  .mainslider .mainwrapper{
    width:1000px;
    height:450px;
    margin:0px auto;
    padding:10px 0px 10px 0px;
    overflow: hidden;
  }
  .mainslider .mainwrapper .post{
    position: relative;
    width:300px;
    margin:0px 10px;
    display:inline-block;
    color: white;
  }
  .mainslider .mainwrapper .post .post-info{
    font-size:15px;
    height:30%;
    padding-left:10px;
  }
  .mainslider .mainwrapper .post .slider-image{
    width:100%;
    height:300px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
  }
  .mainslider .mainwrapper .post .post-infoall::after{
    content:"";
    background-image: url("./관람가등급/Untitled-1.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 190px;
  }
  .mainslider .mainwrapper .post .post-info12::after{
    content:"";
    background-image: url("./관람가등급/Untitled-2.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 190px;
  }
  .mainslider .mainwrapper .post .post-info15::after{
    content:"";
    background-image: url("./관람가등급/Untitled-3.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 190px;
  }
  .mainslider .mainwrapper .post .post-info18::after{
    content:"";
    background-image: url("./관람가등급/Untitled-4.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 190px;
  }
  .exslider{
    width:100%;
    margin:0px auto;
    position:relative;
  }
  .exslider .silder-title{
    text-align:center;
    margin:0 auto;
    font-size: 30px;
  }
  .exslider .next{
    position:absolute;
    top:50%;
    right:30px;
    font-size:2em;
    color:gray;
    cursor: pointer;
  }
  .exslider .prev{
    position:absolute;
    top:50%;
    left:30px;
    font-size:2em;
    color:gray;
    cursor: pointer;
  }
  .next:hover{
    color:#03FC5D;
    transition: 0.5s;
    cursor: pointer;
  }
  .prev:hover{
    color:#03FC5D;
    transition: 0.5s;
    cursor: pointer;
  }
  .exslider .exwrapper{
    width:1000px;
    height:450px;
    margin:0px auto;
    padding:10px 0px 10px 0px;
    overflow: hidden;
  }
  .exslider .exwrapper .post{
    position: relative;
    width:300px;
    margin:0px 10px;
    display:inline-block;
    color: white;
  }
  .exslider .exwrapper .post .post-info{
    font-size:15px;
    height:30%;
    padding-left:10px;
  }
  .exslider .exwrapper .post .slider-image{
    width:100%;
    height:300px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
  }
  .exslider .exwrapper .post .post-infoall::after{
    content:"";
    background-image: url("./관람가등급/Untitled-1.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 190px;
  }
  .exslider .exwrapper .post .post-info12::after{
    content:"";
    background-image: url("./관람가등급/Untitled-2.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 190px;
  }
  .exslider .exwrapper .post .post-info15::after{
    content:"";
    background-image: url("./관람가등급/Untitled-3.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 190px;
  }
  .exslider .exwrapper .post .post-info18::after{
    content:"";
    background-image: url("./관람가등급/Untitled-4.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 190px;
  }
  .dday{
    display: flex;
    box-sizing: border-box;
    border: 1px solid #FFF;
    color: #03FC5D;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    padding: 0 10px;
  }
  h4{
    white-space: nowrap;
    width: 230px;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
  }
  .tograde{
    position: absolute;
    top: 3%;
    left: 24%;
    width: 30px;
    height: 30px;
  }
  .post-info-bottom{
    display: flex;
    font-size: 17px;
    width: 230px;
    justify-content: center;
    align-items: center;
  }
  .score::before{
    content: "\f005";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color:#ffd700;
    margin: 0 5px 0 0;
  }
  .advance::before{
    content: "예매율";
    font-size: 15px;
    font-weight: 100;
    margin: 0 5px 0 15px;
  }
  .sec3{
    display: flex;
    gap: 20px;
}
.sec3Linner1, .sec3Linner2, .sec3Linner3, .sec3Linner4{
  display: flex;
  width: 590px;
  height: 200px;
  box-sizing: border-box;
  border-bottom: 1px solid #B0B0B0;
  align-items: center;
}
.reviewposter{
  width: 130px;
  height: 180px;
  padding: 0 15px 0 0;
  vertical-align: bottom;
  object-fit: cover;
}
.reviewtitle{
  display: flex;
  color: #fff;
  font-size: 30px;
  box-sizing: border-box;
  width: 460px;
  height: 45px;
  justify-content: space-between;
  border-bottom: 1px solid #03FC5D;
}
.reviewtitle p{
  width: 390px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.titlescore{
  width: 70px;
  font-size: 20px;
  margin: 7px 0 0 0;
}
.sec3LR .fa-star{
  color: #ffd700;
}
.sec3LRul{
  padding: 5px 0 0 0;
}
.sec3LRul li{
  display: block;
  width: 460px;
  height: 25px;
  color: #B0B0B0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sec3Linner2 .sec3LRul, .sec3Linner3 .sec3LRul, .sec3Linner4 .sec3LRul{
  display: none;
}
.sec3Linner2 .reviewtitle, .sec3Linner3 .reviewtitle, .sec3Linner4 .reviewtitle{
  border-bottom: 0px;
}
.sec3Linner2 .reviewposter, .sec3Linner3 .reviewposter, .sec3Linner4 .reviewposter{
  height: 90px;
  object-fit: cover;
  vertical-align: bottom;
}
.sec3Linner2, .sec3Linner3, .sec3Linner4{
  height: 100px;
}
.sec3RR .newsimage{
    width: 150px;
    height: 90px;
    vertical-align: bottom;
    border-radius: 10px;
    object-fit: cover;
}
.sec3Rinner{
    display: flex;
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
    height: 100px;
    border-bottom: 1px solid #B0B0B0;
}
.newstitle{
    color: white;
    font-size: 20px;
    box-sizing: border-box;
    width: 430px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.newstitle:hover{
  cursor: pointer;
  color: #03FC5D;
  transition: 0.5s;
}
.date{
    font-size: 14px;
    color: #B0B0B0;
}

.naverL{
    width: 100px;
    height: 20px;
    margin: 0 5px 0 0;
}
.naverS{
    width: 50px;
    height: 10px;
    margin: 0 5px 0 0;
}
footer .fa-solid{
    margin: 0 5px 0 5px;
}
footer{
  background-color: #111111;
    padding: 10px 0;
    color: white;
    border-top: 1px solid #03FC5D;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.ottranking{
  width: 100%;
  margin: 20px 0 40px 0;
}
.ottslider{
  width:100%;
  height:490px;
  position:relative;
}
.ottslider .silder-title{
  text-align:center;
  font-size: 30px;
}
.ottslider .next{
  position:absolute;
  top:50%;
  right:30px;
  font-size:2em;
  color:gray;
  cursor: pointer;
  display: none;
}
.ottslider .prev{
  position:absolute;
  top:50%;
  left:30px;
  font-size:2em;
  color:gray;
  cursor: pointer;
  display: none;
}

.ottslider .ottwrapper{
  width:1200px;
  height:550px;
  margin: 0 auto;
  overflow: hidden;
}
.ottslider .ottwrapper .post{
  width: 100%;
  position: relative;
  display:inline-block;
  color: white;
}
.ottwrapper .slick-slide {
  margin: 0 30px 0 0;
}
.ottwrapper .slick-list {
  margin: 0px -30px 0 0;}
.wavvemovietitle{
  display: flex;
  width: 100%;
  height: 70px;
  font-size: 25px;
  align-items: center;
  background-color: #555;
  margin: 10px 0 0 0;
  border-radius: 10px;
  cursor: pointer;
}
.wavvemovietitle:hover{
  background-color: rgba(0,80,255);
  transition: 0.5s;
}
.watchamovietitle{
  display: flex;
  width: 100%;
  height: 70px;
  font-size: 25px;
  align-items: center;
  background-color: #555;
  margin: 10px 0 0 0;
  border-radius: 10px;
  cursor: pointer;
}
.watchamovietitle:hover{
  background-color: rgba(255,5,89);
  transition: 0.5s;
}
.tvingmovietitle{
  display: flex;
  width: 100%;
  height: 70px;
  font-size: 25px;
  align-items: center;
  background-color: #555;
  margin: 10px 0 0 0;
  border-radius: 10px;
  cursor: pointer;
}
.tvingmovietitle:hover{
  background-color: rgba(230,42,42);
  transition: 0.5s;
}
.ottgradeall::after{
  content:"";
    background-image: url("./관람가등급/Untitled-1.png");
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    margin: 7px 0 0 10px;
}
.ottgrade12::after{
  content:"";
    background-image: url("./관람가등급/Untitled-1.png");
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    margin: 7px 0 0 10px;
}
.ottgrade15::after{
  content:"";
    background-image: url("./관람가등급/Untitled-1.png");
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    margin: 7px 0 0 10px;
}
.ottgrade18::after{
  content:"";
    background-image: url("./관람가등급/Untitled-1.png");
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    margin: 7px 0 0 10px;
}
.ottposter{
  width: 80px;
  height: 60px;
  object-fit: cover;
  position: absolute;
  right: 10px;
  border-radius: 10px;
}
.ottth{
  padding: 0 50px 0 15px;
}
.ottlogo{
  width: 100px;
}
.ottlogotitle{
  display: flex;
  align-items: center;
  font-size: 25px;
  width: 100%;
  height: 40px;
  justify-content: center;
}
.slick-dots{
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 16px 0;
  list-style: none;
  bottom: 40px;
}
.slick-dots li{
  margin: 0 15px;
  background: #fff;
  border-radius: 50%;
}
.slick-dots button{
  display: block;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  border-radius: 50%;
  font-size: 0px;
}
.slick-dots li.slick-active button{
  background-color: #03FC5D;
}