@charset "UTF-8";
body{ min-width: 640px; }
.gnb{
    width: 100%;
    height: 100px;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Logo{
    position: fixed;
    top: 30px;
}
.gnb > ul{
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    transform: translate(-200%, 0);
    transition: all 0.5s;
    position: relative;
    z-index: 10;
    padding: 100px 0 0 0;
}
.gnb > ul.on{
    transform: translate(0%, 0);
    transition: all 0.5s;
}
.gnb >  ul > li{
    width: 100%;
    background: #333333;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.gnb >  ul > li > a.on{
    background-color: rgb(82, 82, 82);
}
.gnb > ul > li > .gnba{
    width: 100%;
}

.material-icons{
    display: block;
    position: fixed;
    z-index: 1000;
    top: 30px;
    right: 30px;
    color: #fff;
    font-size: 40px;
}
.material-icons:hover{
    cursor: pointer;
}
.material-icons:nth-child(2){
    display: none;
}
 
main{
    min-width: 641px;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 30px 0;
}
.mainposter{
    width: 330px;
    height: 450px;
}
.poster{
    width: 330px;
    height: 450px;
    background-size: 330px 450px;
}
.info1{
    margin: 10px 0 0 15px;
}
.info2, .info3, .info4, .info5, .info6, .info7, .info8, .info9, .info10{
    margin: 10px 0 0 15px;
}
.title{
    width: 330px;
    font-size: 18px;
}
.title span{
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.maindday{
    margin: 0 0 0 5px;
}
.today{
    margin: 0 0 0 5px;
}
.sub{
    width: 300px;
    padding: 5px 0 0 0;
}
.sub b{
    font-size: 16px;
    white-space: nowrap;
}
.subcontent{
    font-size: 14px;
    width: 270px;
}
.sublast{
    padding: 20px 0 0 0;
    font-size: 14px;
    width: 300px;
    height: 100px;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
.button{
    left: 105px;
    top: 395px;
}
.button1{
    padding: 4px 17px;
}
.button2{
    padding: 4px 17px;
}
main .sec1 ul{
    height: 450px;
    overflow: auto;
}
main .sec1 ul li{
    width: 330px;
    height: 75px;
    font-size: 20px;
}
main .sec1 ul li p{
    width: 200px;
}
main .sec1 ul li:nth-child(1){
    border-top: 1px solid #03FC5D;
}
.grade{
    width: 25px;
    height: 25px;
    margin: 0 10px;
}
main .sec1 ul li b{
    padding: 0 10px;
    font-size: 25px;
}
main .sec1 ul li:nth-child(10) b{
    padding: 0 3px;
}
.sec1 ul li .up{
    right: 40px;
    font-size: 17px;
}
.sec1 .fa-solid{
    font-size: 16px;
}
.toslider .next{
    right: -40px;
}
.toslider .prev{
    left:-40px;
  }
.toslider .towrapper{
    width: 550px;
}
h4{
    width: 255px;
}
.toslider .towrapper .post .post-infoall::after{
    left: 210px;
}
.toslider .towrapper .post .post-info12::after{
    left: 210px;
}
.toslider .towrapper .post .post-info15::after{
    left: 210px;
}
.toslider .towrapper .post .post-info18::after{
    left: 210px;
}
.exslider .next{
    right: -40px;
}
.exslider .prev{
    left:-40px;
  }
.exslider .exwrapper{
    width: 550px;
}
.exslider .exwrapper .post .post-infoall::after{
    left: 210px;
}
.exslider .exwrapper .post .post-info12::after{
    left: 210px;
}
.exslider .exwrapper .post .post-info15::after{
    left: 210px;
}
.exslider .exwrapper .post .post-info18::after{
    left: 210px;
}
.sec3{
    flex-direction: column;
}
footer{
    font-size: 10px;
}
.naverL{
    width: 70px;
    height: 15px;
}
.th{
    position: absolute;
    top: 210px;
    font-size: 60px;
    left: 10px;
    color: rgba(255,255,255,0.9);
}
.ottslider .ottwrapper{
    width: 590px;
}
.ottslider .next{
    display: none;
}
.ottslider .prev{
    display: none;
}